@if (!!breadcrumbs.at(0)) {
  <header>
    <ul class="list-none p-0 m-0 flex items-center font-medium mb-5">
      <li>
        <a
          routerLink="/"
          class="text-surface-500 dark:text-surface-300 no-underline leading-normal cursor-pointer"
          >Home</a
        >
      </li>
      <li class="px-2">
        <i
          class="pi pi-angle-right text-surface-500 dark:text-surface-300 text-sm! leading-normal!"
        ></i>
      </li>
      @for (breadcrumb of breadcrumbs; track breadcrumb.label) {
        <li>
          <span class="text-surface-900 dark:text-surface-0 leading-normal">{{
            breadcrumb.label
          }}</span>
        </li>
      }
    </ul>
  </header>
}
