<header class="fixed top-6 w-full z-50">
  <div class="flex justify-center items-center container mx-auto">
    <nav aria-label="Menu" class="w-full">
      <p-menubar [model]="menuItems">
        <ng-template pTemplate="end">
          <div class="flex gap-6">
            @for (item of authItems; track item.label) {
              <p-button
                severity="secondary"
                label="{{ item.label }}"
                variant="text"
                routerLink="{{ item.routerLink }}"
              />
            }
          </div>
        </ng-template>
      </p-menubar>
    </nav>
  </div>
</header>
