<div class="relative h-dvh w-full">
  <div class="isolate absolute inset-0 -z-10">
    <div class="size-full relative overflow-clip">
      @if (getCurrentTheme() === 'dark') {
        <img
          class="absolute size-full object-cover object-center -z-20 animate-zoom-out"
          src="https://images.unsplash.com/photo-1724391114112-c83ad59f1d5f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2129"
          alt="hero image"
        />
      } @else {
        <img
          class="absolute size-full object-cover object-center -z-20 animate-zoom-out"
          src="https://images.unsplash.com/photo-1664220206028-ffb4192b99e3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070"
          alt="hero image"
        />
      }
      @if (getCurrentTheme() === 'dark') {
        <div
          class="absolute size-full bg-linear-to-b from-background via-transparent to-background -z-10"
        ></div>
      }
    </div>
  </div>
  <div
    class="dark text-primary py-24 container mx-auto px-6 flex flex-col items-center justify-end size-full text-center space-y-10"
  >
    <h1 class="text-5xl xl:text-7xl font-black leading-16 w-full text-shadow-lg">
      Experience the Ultimate Driving Machine
    </h1>
    <p class="text-2xl w-full text-shadow-lg">Precision engineering meets timeless luxury.</p>
    <button z-button zType="default" (click)="scrollToElement('product-list-container')">
      Discover
    </button>
  </div>
</div>
