@keyframes zoomOut {
  0% {
    transform: scale(1.3);
  }
  2% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-zoom-out {
  animation: zoomOut 20s ease-out forwards alternate;
}
