@keyframes zoomOut {
  0% {
    transform: scale(1.3) rotate(2deg);
  }
  2% {
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.animate-zoom-out {
  animation: zoomOut 20s ease-out forwards alternate;
}
